.search-form
    input(type='text' name='agreement' id="searchInput")
    //- datalist(id="bookList")
        
    input(type="button" value='search' id="searchButton" disabled="false")
    a(href="#") Guardar búsqueda